
/* Header */
.bg-blue {
    background-color: #2C3F4F;
}

#navbar-navigation a {
    color: white;
}

#navbar-navigation .navbar-collapse {
    flex-grow: 0;
}

.color-blue {
    color: #2C3F4F;
}


/* Jumbotron */
#jumbotrone {
    background-color: #1CBC9B;
}

#profile img {
    height: 300px;
}

#button-download button {
    color: white;
}

#footer-top button {
    color: white;
}

#contact-me .form-control {
    border: none;
    border-bottom: 1px solid #ced4da;
}

#about {
    background-color: #1CBC9B;
}

footer {
    height: 500px;
    background-color: #3B546E;
}

#footer-bottom {
    background-color: #2C3F4F;
}

#about .btn-outline-secondary {
    border-color: #fff;
}

.line {
    height: 5px;
    /* background-color: #fff;
    color: white; */
    color: currentColor;
    width: 70px;
}


@media screen and (min-width: 768px) {
    footer {
        height: 250px;
    }

}