header {
    background-color: #2C3F4F;
    height: 100px;
}

#jumbotrone {
    height: 500px;
    background-color: #1CBC9B;
}

.col-visible {
    height: 400px;
}

.bg-forest-green {
    background-color: forestgreen;
}

#about {
    height: 700px;
    background-color: #1CBC9B;

}

footer {
    height: 500px;
}

@media screen and (min-width: 768px) {
    .col-visible {
        height: 200px;
    }
}